{% extends "base.html"  %}
{% block content %}

<form action="/", method="post">
    <div class="form-group">
        <label for="autorius" >Autorius</label>
        <input type="text" class="form-control" id="autorius" name="autorius">
    </div>
    <div class="form-group">
        <label for="pavadinimas" >Pavadinimas</label>
        <input type="text" class="form-control" id="pavadinimas" name="pavadinimas">
    </div>
    <div class="form-group">
        <label for="tekstas" >tekstas</label>
        <textarea class=" form-control" id="tekstas" name="tekstas" row="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">issaugoti</button>
</form>
{% endblock %}