{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-3">
        <a href="/PicaPica"> <img src="https://www.picapica.lt/images/logo.png" alt="PicaPica" height="120"></a>
    </div>
    <div class="col-2">
        <a href="/BrooklynBrothers"> <img src="https://static.wixstatic.com/media/bb0e8d_ea559b1477994cfe805f3071e1ca3ae0~mv2.png/v1/fill/w_133,h_128,al_c,usm_0.66_1.00_0.01,enc_auto/Untitled-3-01.png" alt="PicaPica" height="120"></a>
    </div>
    <div class="col-3">
        <a href="/Čilas"> <img src="http://www.cilas.lt/images/cilas-2-2.png" alt="Čilas" height="120"></a>
    </div>


</div>

{% endblock %}